@charset 'UTF-8';

/* =====================================================
  1.0 - Base
===================================================== */
@import 'inc/setting';
@import 'inc/functions';
@import 'inc/mixin';
@import 'base/reset';
@import 'base/base';

/* =====================================================
  2.0 - Layout
===================================================== */
@import 'Layout/centering';
@import 'Layout/header';
@import 'Layout/main';
@import 'Layout/section';
@import 'Layout/footer';
@import 'Layout/grid';

/* =====================================================
  3.0 - Module
===================================================== */
@import 'module/global-nav';
@import 'module/hero';
@import 'module/heading';
@import 'module/card';
@import 'module/media';
@import 'module/contents';
@import 'module/contact';
@import 'module/button';
@import 'module/screen-reader-text';
