@charset 'UTF-8';
/*
  Global-Nav
-----------------------------------------------------*/

.l-globalNav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  padding-top: set-size(64px);
  background-color: #fff;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.l-globalNav li a {
  display: block;
  padding: set-size(36px);
  text-align: center;
  letter-spacing: 2px;
  font-size: set-size(24px);
  transition: all .3s ease-in-out;
}

.l-globalNav li a:hover {
  color: #ccc;
}

.is-active-drawer .l-globalNav {
  visibility: visible;
  opacity: 1;
}


@include mq ( 'tab' ) {
  .l-globalNav {
    position: static;
    visibility: visible;
    overflow: hidden;
    padding: 0;
    background-color: transparent;
    opacity: 1;
  }

  .l-globalNav li {
    float: left;
  }

  .l-globalNav li + li {
    margin-left: 2rem;
  }

  .l-globalNav li a {
    display: inline-block;
    padding: 0;
    font-size: set-size(16px);
  }
}
