@charset 'UTF-8';
/*
  Hero
-----------------------------------------------------*/

.hero {
  position: relative;
}

.hero__copy {
  position: absolute;
  transform: translateY(-50%);
  text-align: left;
  top: 30%;
  left: 5%;
}


@include mq ( 'tab' ) {
  .hero.--home {
    margin-left: auto;
    width: 90%;
    text-align: right;
  }

  .hero.--home img {
    width: 90%;
  }

  .hero__copy {
    top: 50%;
    left: 0;
    font-size: set-size(32px);
  }
}
