@charset 'UTF-8';
//============================================
//  Function
//============================================

// px -> rem に変換
//--------------------------------------------
@function set-size($size, $base-font-size: 16px) {
  @return ($size / $base-font-size) * 1rem;
}
